* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav {
  width: 1600;
  height: 92px;
  background-color: #ffffff;
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .menu {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style-type: none;
}
nav .menu a {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}
.nav-btn {
  background-color: #30b868;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: #d682ba;
}

#banner {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 600px;
  background: linear-gradient(rgba(0, 25, 49, 0.8));
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
}

.banner-btn {
  background-color: white;
  color: #30b868;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 20px;
}
.banner-btn:hover {
  background-color: #d682ba;
  color: white;
}
.banner-heading1 {
  font-size: 48px;
  font-weight: 700;
  color: white;
  margin-bottom: 16px;
}
.banner-heading2 {
  font-size: 48px;
  font-weight: 700;
  color: #30b868;
  margin-bottom: 16px;
}
.banner-p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 32px;
  width: 1360px;
  height: 40px;
  text-align: center;
}
.banner-btn1 {
  margin-top: 20px;
  background-color: #30b868;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.banner-btn1:hover {
  background-color: #d682ba;
}
.banner-btn2 {
  margin-top: 20px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}
.banner-btn2:hover {
  background-color: #d682ba;
  color: white;
}
#notes-section {
  width: 100%;
  height: 448px;
  text-align: center;
  margin-top: 40px;
  
}
.notes-section-heading {
  font-size: 38px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 8px;
}
.notes-para {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}

#card {
  width: 1360px;
  height: 300px;
  display: flex;
  gap: 24px;
  margin: 0 auto;
  justify-content: center;
}
 .card-1{
  width: 322px;
  height: 300px;
  margin: 16px ;
  padding: 24px 24px 24px 24px;

 }
.card-1-img{
    border-radius: 50%;
    background-color: #f95555;
    
    width: 60px;
    height: 60px;
  }
}.card-2{
  width: 322px;
  height: 300px;
  margin: 16px ;
  padding: 24px 24px 24px 24px;
}
 .card-2-img{
    border-radius: 50%;
    background-color: #f95555;
   
    width: 60px;
    height: 60px;
  }
}.card-3{
  width: 322px;
  height: 300px;
  margin: 16px ;
  padding: 24px 24px 24px 24px;
}
 .card-3-img {
    border-radius: 50%;
    background-color: #f95555;
    
    width: 60px;
    height: 60px;
  }
.card-4{width: 322px;
  height: 300px;
  margin: 16px ;
  padding: 24px 24px 24px 24px;}
.card-4-img  {
  border-radius: 50%;
  background-color: #f95555;

  width: 60px;
  height: 60px;
}
.card-1,
.card-2,
.card-3,
.card-4 {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  width: 322px;
  height: 300px;
  box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.1);
}

#notes-section h6 {
  color: #001931;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

#notes-section p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

#brain-section {
  width: 100%;
  height: 680px;
  text-align: left;
  text-decoration: none;
  margin-top: 40px;
  margin-left: 185px;
  margin-right: 185px;
  display: flex;
}
#brain-section .knowladge-img {
  width: 600px;
  height: 600px;
  margin-left: 120px;
}
.brain-section-heading{
  margin-top:60px ;
  margin-left: 50px;
}
#brain-section .para-1
 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #30b868;
  margin-bottom: 12px;
}
#brain-section h4{
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 10px;
  
}
#brain-section .para-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #627382;
  margin-bottom: 32px;
  width: 600px;
  height: 80px;
}
#brain-section li {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #30b868;
  margin-bottom: 8px;
  list-style-type: none;
}
#early-access-section{
  width: 100%;
  height: 506px;
  text-align: center;
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 2px;
  padding-bottom: 120px;
  background-color: #ffffff;
}
.early-access{
  max-width: 1360px;
  height: 384px;
  background-color: #f7f6f2;
}
.early-access-heading{
  font-weight: 700;
  font-size: 40px;
  line-height: auto;
  padding-top: 50px;

}
.early-access-para1{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #627382;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 720px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
}
.early-access-btn{
  width: 194px;
  height: 52px;
  background-color: #30b868;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.early-access-btn:hover {
  background-color: #d682ba;
}
.early-access-para2{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.footer-container {
  width: 100%;
  height: 250px;
  background-color: #001931;
  padding-top: 20px;
  padding-bottom: 10px;
  align-items: space-between;
   
}
.footer-logo{
  margin-left: 110px;
}
.footer-heading{
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  align-content: left;
  
}
.footer-contents{
  width: 1360px;
  display: flex;
  justify-content: space-between;
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 40px;
}
.footer-social{
  
   
}
.colored-line{
  margin-top: 60px;
  color: #627382;
  width: 1360px;
  margin-left: 170px;
}
.footer-end{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
 color:#fafafa ;
 margin-top: 20px;
 
 
  
}